################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Lazy.Captcha.Core/obj
/Lazy.Captcha.Test/obj
/Lazy.Captcha.Core/bin/Debug/net6.0
/Lazy.Captcha.Test/bin/Debug/net6.0
/.vs/LazyCaptcha
/Lazy.Captcha.Web/bin/Debug/net6.0
/Lazy.Captcha.Web/obj
