body{
  background-color: black;
}

.grid {
    height: 800px;
    width: 1280px;
    margin: auto;
    /* 设置容器布局为grid布局 */
    display: grid;
    /* 指定每一行的宽度 每个宽度中间用空格隔开 */
    grid-template-rows: repeat(13, 7.69%);
    /* 指定每一列的宽度 每个宽度中间用空格隔开 */
    grid-template-columns: repeat(12, 8.33%);
    margin-top:20px;
}

    .grid .cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 10px;
        border: 1px solid #202020;
        word-break: break-word;
    }

.grid .cell img{
  border-radius: 1px;
}

.unsupport{
  color: #8f8f8f;
}

.tip {
    color: #8f8f8f;
    width: 1280px;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
}